<p><%= @user.name %>,</p>

<p>Thank you for registering!</p>

<p>Click the following link to activate your account:
<%= url_for(only_path: false,
						controller: "users", 
						id: "#{@user.id}", 
						action: "confirm", 
						confirmation_code: "#{@user.confirmation_code}") %>.
</p>