<% @user ||= current_user %>
<section>
  <div class="stats">
    <%= render 'shared/following_stat' %>
    <%= render 'shared/followers_stat' %>
    <%= render 'follow_form' if signed_in? unless current_user?(@user) %>
  </div>
</section>