<% @user ||= current_user %>
<section>
	<a href="<%= user_path(@user) %>">
	  <%= gravatar_for @user, size: 52 %>
	</a>
	<h1>
	  <%= @user.name %>
	</h1>
	<span>
	  <%= link_to "view profile", @user unless (controller.controller_name == 'users' && controller.action_name == 'show') %>
	</span>
</section>
