<footer class="footer">
  <small>
    From <a href="http://www.innovationempire.com/">Innovation Empire, Inc.</a> with love © 2013. All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>